<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
</head>
<body>
    <h2>ยินดีต้อนรับเข้าสู่ ระบบคำนวณบิล เชิญชิม CCF 1976 Paybill System</h2>

    <h3>กรุณาอัพโหลดไฟล์ต่อไปนี้</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx, .xls">
        <button type="submit">ส่งไฟล์</button>
    </form>
</body>
</html>